body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}


.header{
  display: flex;
  font-size: 2rem;
  font-weight:  700;
  align-items: center;
  padding-left: 2rem;
}

.body{
  display: flex;
  flex: 1;
}

.sidebar{
  flex-shrink: 0;
}
.sidebar li{
  padding-bottom: 1rem;
}

ul{
  list-style:none;
}
a{
  text-decoration:none;
  color: white;
}
.grid{
  display: flex;
  
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem;
}

.card{
  width: 300px;
  
   
}


.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}